* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.outer-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    height: 470px;
    width: 350px;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 0.5rem 0.5rem hsl(0, 0%, 7%);
    overflow: hidden;
}

.container p {
    margin: 0.5rem 0;
    font-size: 14px;
    font-weight: 500;
}

.top-image {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.top-image img {
    width: 100%;
    height: 100%;
}

.learning {
    width: fit-content;

}

.learning h4 {
    background-color: hsl(47, 88%, 63%);
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.heading {
    margin: 0.5rem 0;
}

.heading h2 {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.heading h2:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.content {
    color: hsl(0, 0%, 50%);
    line-height: 1.2rem;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author h3 {
    font-size: 14px;
    font-weight: 800;
}

.avatar {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.avatar img {
    width: 100%;
    height: 100%;
}
